.bio_paper {
    display: flex;
    padding: 15px;
    max-width: 975px;
    width: 100%;
    height: 100%;
}

.bio_title {
    display: flex;
    margin: 1rem;
}

.description {
    display: flex;
    text-align: justify;
    padding-left: 1rem;
}

.bio_para {
    display: flex;
    justify-content: right;  
}

.ability_btn, .egg_btn {
    display: flex;
    gap: 1rem; /* Simplified to 'gap' property */
    margin: 1rem; 
}