.bio_paper {
    display: flex;
    max-width: 975px;
    width: 100%;
    height: 685px;
}

.bioGrid {
    padding-left: 12px;
    padding-right: 12px;
}

.bio_title {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.description {
    display: flex;
    text-align: justify;
}

.bio_para {
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
}

.bioInfo {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 20px 0;
}

.ability_btn,
.egg_btn {
    display: flex;
    gap: 1rem; 
}