.pokemonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 8px;
}

.pokemonCardContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
    text-align: center;
    width: auto;
    height: auto;
}

.pokemonSideCard {
    border-radius: 1rem;
    padding: 0.2rem 0.4rem;
}


.pokemonID {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    font-weight: 500;
}

.pokemonName {
    margin-top: 0.5rem;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 400;
}

.imgContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 200px;
}

.cardMedia {
    width: 100%;
    max-width: 400px;
    height: 100%;
}

.pokeType {
    display: flex;
    gap: 10px;
    /* Simplified to 'gap' property */
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.pokeTypeBG {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeInfo {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.statsInfo {
    padding-top: 1rem;
}

.movePaper {
    display: block;
    /* flex-direction: row; */
    padding: 1rem;
    margin: 0 2.5rem 2rem 4.5rem;
    /* margin-left: 4.5rem; */
    
}

.moveList {
    /* width: 355px; */
    width: auto;
    height: 100%;
    overflow: scroll;
    text-align: left;
    text-transform: uppercase;
}

#moveBtn {
    margin-right: 8px;
    margin-bottom: 8px;
}