.pokemonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem;
    border-radius: inherit;
    background-color: white;
}

.statsTypeInfo {
    display: flex;
    flex-direction: column; 
    margin: 1rem;
}

.bioContainer {
    margin: 12px;
    padding-left: 2rem;
}

/* Move / Evo Comp Styling */
.evoMoveContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    margin: 2rem;
}

/* Media query for tablets and smaller screens */
@media (max-width: 1024px) {
    .pokemonContainer {
        flex-direction: column;
        align-items: center; 
    }

    .bioContainer {
        flex-direction: column;
        align-items: center
    }
}