.pokemonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 65px;
}

.pokemonCardContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    margin: 2rem;
    /* border-radius: 1rem; */
    /* width: 275px;  */
    /* max-width: 275px; */
    text-align: center;
    width: auto; 
    height: auto;
}

.pokemonSideCard {
    border-radius: 1rem;
    padding: 0.2rem 0.4rem;
}


.pokemonID {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    font-weight: 500;
}

.pokemonName {
    margin-top: 0.5rem;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 400;
}

.imgContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 200px;
}

.cardMedia {
    width: 100%;
    max-width: 400px;
    height: 100%;
}

.pokeType {
    display: flex;
    gap: 10px;
    /* Simplified to 'gap' property */
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.pokeTypeBG {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeInfo {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.statsInfo {
    padding-top: 1rem;
}

.detailsContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
    width: 100%;
}