.evoContainer {
    display: block;
    flex-direction: column;
}

.evoCard {
    max-width: 205px;
    width: 175px;
    height:  auto;
}

.evoPoke {
    display: flex;
    justify-content: space-evenly;
    padding: 0 8px 24px;
}

.evoArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 4px; */
}