.evoContainer {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
}

.evoCard {
    max-width: 205px;
    width: 175px;
    height: auto;
}

.evoPoke {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.evoArrow {
    display: flex;
    align-items: center;
}

/* Media query for tablets and smaller screens */
@media (max-width: 1024px) {
    .evoContainer {
        margin: 1rem; 
        padding: 0.5rem; 
    }

    .evoPoke {
        flex-direction: column; 
        align-items: center;
        justify-content: space-around;
    }
}
