.toolbar {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.pokedex,
.headerLogos {
    height: 70px;
    margin-left: 10px; 
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.searchIcon {
    align-self: flex-end;
    margin-bottom: 5px;
}

.recentSearch {
    padding-bottom: 4px;
    text-align: right;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 4px;
}

@media (max-width: 600px) {
    .searchBar {
        padding: 0 10px;
    }

    .headerLogos {
        height: 50px;
    }

    .avatar {
        height: 30px;
        width: 30px;
    }
}