.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.searchInput {
    width: 300px !important;
    color: white !important;
}