.stat_container {
    padding: 4px;
}

.stat_row {
    display: flex;
    justify-content: space-between;
}

.stat_name,
.stat_base_stat {
    padding-bottom: 8px;
    font-variant-caps: small-caps;
}