.moveContainer {
    display: block;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
}

.movesTitle {
    display: flex;
    justify-content: space-between;
}

.moveList {
    width: auto;
    height: 100%;
    overflow: auto;
    text-align: left;
    text-transform: uppercase;
}

#moveBtn {
    margin: 0 8px 8px 0px;
}
